<section class="about">
  <h2 class="widget-title">Sobre Nós</h2>
  <p>
    Ela é candanga, de pai gaúcho e mãe mineira. Ela é uma mulher moderna e sabe que lugar de mulher é onde ela bem quiser. Ela
    é ansiosa. Ela tem paciência com ele. Ela quando bebe vira a Lucinha. Ela só quer saber de viajar, séries e redes sociais.
    Ela ama Ele.
  </p>
  <ul class="social">
    {{ if .Site.Menus.social }} {{ range .Site.Menus.social }} {{ if .URL }}
    <li class="social-icon">
      <a href="{{ .URL }}" target="_blank" class="icon">{{ .Pre }}</i>
      </a>
    </li>
    {{ end }} {{ end }} {{ end }}
  </ul>
  <!-- .follow-me -->
</section>
<!-- .astrif_widget_follow_me -->