<div class="share-links">
  <span>Compartilhe</span>
  <div>
    <amp-social-share class="custom-style" type="facebook" width="35" height="35" data-param-url="{{ .Permalink }}">
    </amp-social-share>
    <amp-social-share class="custom-style" type="twitter" width="35" height="35" data-param-url="{{ .Permalink }}">
    </amp-social-share>
    <amp-social-share class="custom-style" type="pinterest" width="35" height="35" data-param-url="{{ .Permalink }}">
    </amp-social-share>
    <amp-social-share class="custom-style" type="linkedin" width="35" height="35" data-param-url="{{ .Permalink }}">
    </amp-social-share>
    <amp-social-share class="custom-style" type="whatsapp" width="35" height="35" data-param-url="{{ .Permalink }}">
    </amp-social-share>
  </div>
</div>
<!-- .share-links -->