<div>
  <amp-social-share type="facebook" width="15" height="15"
  data-param-url="{{ .Permalink }}" class="custom-share fa fa-facebook">
</amp-social-share>
  <amp-social-share type="twitter" width="15" height="15"
  data-param-url="{{ .Permalink }}" class="custom-share fa fa-twitter">
</amp-social-share>
  <amp-social-share type="pinterest" width="15" height="15"
  data-param-url="{{ .Permalink }}" class="custom-share fa fa-pinterest">
</amp-social-share>
  <amp-social-share type="linkedin" width="15" height="15"
  data-param-url="{{ .Permalink }}" class="custom-share fa fa-linkedin">
</amp-social-share>
  <amp-social-share type="whatsapp" width="15" height="15"
  data-param-url="{{ .Permalink }}" class="custom-share fa fa-whatsapp">
</amp-social-share>
</div><!-- .share-links -->
