<div class="sidebar-subscribe subscribe subscribe-inline">
  <div class="pure-g">
    <div class="pure-u-1 text-center">
      <h3 class="sidebar-subscribe-title">News De Bacon Tudo</h3>
      <p>Inscreva-se e fique por dentro de como ficar de Bacon Tudo</p>
      <form class="pure-form" action-xhr="//debacontudo.us15.list-manage.com/subscribe/post?u=b8837e3b70f25c1a6c0fa05e7&amp;id=c9ca835a56" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_top" novalidate>
<fieldset>
        <input type="email" placeholder=" Email" value="" name="EMAIL" class="required email">
      <button type="submit"  name="subscribe" >OK</button>
      </fieldset>
        <div submit-success>
          <template type="amp-mustache">
            Obrigado por se inscrever. Você vai receber um e-mail em breve
          </template>
        </div>
        <div submit-error>
          <template type="amp-mustache">
            Obrigado por se inscrever. Você vai receber um e-mail em breve
          </template>
        </div>
      </form>
      <!-- .form-inline -->
    </div>
    <!-- .col-## -->
  </div>
  <!-- .container -->
</div>
