<div class="subscribe-small">
      <h3 class="sidebar-subscribe-title">Inscreva-se</h3>
      <form class="" action-xhr="//debacontudo.us15.list-manage.com/subscribe/post?u=b8837e3b70f25c1a6c0fa05e7&amp;id=c9ca835a56"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_top" novalidate>
        <label class="screen-reader-text" for="s">Search for:</label>
        <input type="email" placeholder=" Email" value="" name="EMAIL" class="required email">
        <button class="button-primary" type="submit" name="subscribe">OK</button>
        <div submit-success>
          <template type="amp-mustache">
            Obrigado por se inscrever. Você vai receber um e-mail em breve
          </template>
        </div>
        <div submit-error>
          <template type="amp-mustache">
            Obrigado por se inscrever. Você vai receber um e-mail em breve
          </template>
        </div>
      </form>
      <!-- .form-inline -->
  <!-- .container -->
</div>