{{ partial "structure/head" . }}

<main>

    <body class="home blog">
        <div id="page" class="site">
            <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

<div class="text-center">
  {{ partial "slider.html" . }}

</div>
            {{ partial "menu.html" . }}

            <!-- content -->
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">

                        <div class="container">
                            <div class="pure-g">
                                <!-- article -->
                                <div class="pure-u-md-16-24 pure-u-1">
                                    <div class="site-entry">

                                        {{ $Site := .Site }} {{ range .Data.Pages }}
                                        <article class="post format-standard hentry {{if not .Prev}} first-post {{end}}">
                                            <div class="entry-featured-image">
                                                {{if not .Prev}}
                                                <!-- <img src="{{ .Params.banner }}" alt="{{ .Title }}" /> -->
                                                <amp-img src="{{ .Params.banner }}" layout="responsive" width="750" height="350" alt="{{ .Title }}"></amp-img>

                                                {{else}} {{ if .Params.thumbnail }}
                                                <amp-img src="{{ .Params.thumbnail }}" layout="responsive" width="337.5" height="337.5" alt="{{ .Title }}"></amp-img>
                                                 {{else}}
                                                <img src="/img/astrif-post-entry-02.jpg" alt="Healthy Breakfast For Cute Girl"> {{ end }} {{end}}
                                            </div>
                                            <!-- .entry-featured-image -->
                                            <!-- <div class="entry-featured-image">
                        </div> -->
                                            <!-- .entry-featured-image -->

                                            <div class="entry-area">
                                                <div class="entry-header">
                                                    <h2 class="entry-title"><a href="{{ .RelPermalink }}" rel="bookmark">{{ .Title }}</a></h2>
                                                    <div class="entry-meta">
                                                        {{ if not .Params.nodate }}
                                                        <span class="posted-on">
                                <a href="{{ .RelPermalink }}" rel="bookmark"> <time class="entry-date" datetime="2016-10-26">{{ .Date.Format "2" }} {{ .Date.Format "Jan" }}, {{ .Date.Format "2006" }}</time> </a>
                              </span>
                                                        <!-- .posted-on -->
                                                        {{ end }} {{ if .Params.categories }} {{ range .Params.categories }}
                                                        <span class="entry-cat">
                                    <span class="cat-link"><a class="post-category post-category-{{ . | urlize }}" href="{{ $Site.BaseURL }}/categories/{{ . | urlize }}">{{ . }}</a></span>
                                                        </span>
                                                        <!-- .entry-cat -->
                                                        {{ end }} {{ end }} {{ if not .Params.noread }}
                                                        <span class="entry-like "><a href=""><i class="fa fa-clock-o"></i> <em>{{.ReadingTime}} <span class="reading-time">min</span></em></a></span> {{ end }}
                                                    </div>
                                                    <!-- .entry-meta -->
                                                </div>
                                                <!-- .entry-header -->
                                                <div class="entry-content">
                                                    <p class="text-center">
                                                      {{if .Params.summary}}
                                                      {{ .Params.summary | truncate 200 }}
                                                      {{else}}
                                                        {{ .Summary | truncate 200 }}
                                                        {{end}}
                                                        <a href="{{ .RelPermalink }}" class="more-link">
                                                            <span class="moretext">Leia Mais</span> <span class="screen-reader-text">{{ .Title }}</span>
                                                        </a>
                                                        <!-- .more-link -->
                                                    </p>
                                                </div>
                                                <!-- .entry-content -->
                                            </div>
                                            <!-- .entry-area -->
                                            <!-- {{ .Content }} -->
                                        </article>
                                        <!-- .post -->
                                        {{ end }}

                                        <nav class="navigation posts-navigation" role="navigation">
                                            <h2 class="screen-reader-text">Navegação</h2>
                                            <div class="nav-links">
                                                <div class="nav-previous"><a href="#">Posts Mais Antigos></a></div>
                                                <div class="nav-next"><a href="#">Posts Mais Novos</a></div>
                                            </div>
                                        </nav>
                                        <!-- .navigation -->
                                    </div>
                                </div>
                                <!-- .col-md-8 -->

                                <!-- sidebar -->
                                <div class="pure-u-md-8-24 pure-u-1">
                                    {{ partial "sidebar.html" . }}
                                </div>
                                <!-- .col-md-4 -->
                            </div>
                            <!-- .row -->
                        </div>
                        <!-- .container -->

                    </main>
                    <!-- #main -->
                </div>
                <!-- #primary -->
            </div>
            <!-- #content -->

            <!-- site-footer -->
            <footer id="colophon" class="site-footer" role="contentinfo">
                <!-- footer subscribe -->
                <!-- .footer-subscribe -->

                <!-- footer instagram -->
                <div class="footer-instagram">
                    <div class="instagram-title">
                        <h3>insta <i class="fa fa-instagram"></i> gram</h3>
                        <span class="instagram-subtitle">Conheça a gente melhor</span>
                    </div>
                    <div class="instagram-widget pure-hidden-sm pure-hidden-xs instagram-md">
                      <amp-iframe width="auto" height="350" sandbox="allow-scripts allow-same-origin"  layout="fixed-height" frameborder="0" src="https://snapwidget.com/embed/357325">
                      </amp-iframe>
                        <p class="instagram-follow"><a href="http://instagram.com/casaldebacontudo" target="_blank" class="btn btn-default">@blogdebacontudo</a></p>
                    </div>
                    <div class="instagram-widget pure-hidden-md pure-hidden-lg pure-hidden-xl instagram-sm">
                      <amp-iframe width="350" height="1400" sandbox="allow-scripts allow-same-origin" resizable layout="responsive" frameborder="0" src="https://snapwidget.com/embed/357534">
                        <div overflow tabindex="0" role="button" aria-label="Read more">Leia Mais</div>
                      </amp-iframe>
                        <p class="instagram-follow"><a href="http://instagram.com/casaldebacontudo" target="_blank" class="btn btn-default">@casalblogdebacontudo</a></p>
                    </div>
                    </div>
                <!-- .footer-instagram -->
            </footer>
            <!-- #site-footer -->

            <!-- copyright -->
            <section id="copyright" class="copyright">
                <div class="container">
                    <div class="pure-g">
                        <div class="pure-u-1">
                            Copyright &copy; 2016 <strong>De Bacon Tudo</strong>. All Right Reserved.
                        </div>
                        <!-- .col-sm-6 -->
                    </div>
                    <!-- .row -->
                </div>
                <!-- .container -->
            </section>
            <!-- #copyright -->

        </div>
        <!-- #page -->
</main>

{{ partial "structure/foot" . }}
