{{ $Site := .Site }} 
{{ partial "structure/head" . }}

<main>

  <body class="home blog">
    <div id="page" class="site">
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
      
      <!-- <div class="text-center">
        {{ partial "slider.html" . }}
        
      </div> -->
      {{ partial "menu.html" . }}
      
      <!-- content -->
      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">
            
            {{ range first 1 .Data.Pages}}
              {{ partial "article-full.html" . }}
            {{ end }}
            <div class="container">
              <!-- article -->
              <div class="pure-u-md-16-24 pure-u-1">
                <div class="site-entry">
                  <!-- all posts -->
                  {{ range (.Paginate ( .Data.Pages)).Pages }}
                    {{ partial "article-item.html" . }}
                  {{ end }}
                  

                    {{ partial "navigation/pagination" . }}
                  </div>
                </div>
                <!-- .col-md-8 -->

                <!-- sidebar -->
                <div class="pure-u-md-8-24 pure-u-1">
                  {{ partial "sidebar.html" . }}
                </div>
                <!-- .col-md-4 -->
              </div>
              <!-- .row -->
            <!-- .container -->

          </main>
          <!-- #main -->
        </div>
        <!-- #primary -->
      </div>
      <!-- #content -->

      <!-- site-footer -->
      <footer id="colophon" class="site-footer" role="contentinfo">
        <!-- .footer-subscribe -->
        {{ partial "subscribe.html" . }}

        <!-- footer instagram -->
        <div class="footer-instagram">
          <div class="instagram-title">
            <h3>insta <i class="fa fa-instagram"></i> gram</h3>
            <span class="instagram-subtitle">Conheça a gente melhor</span>
          </div>
          <div class="instagram-widget pure-hidden-sm pure-hidden-xs instagram-md">
            <amp-iframe width="auto" height="350" sandbox="allow-scripts allow-same-origin" layout="fixed-height" frameborder="0" src="https://snapwidget.com/embed/357325">
            </amp-iframe>
            <p class="instagram-follow"><a href="http://instagram.com/casaldebacontudo" target="_blank" class="btn btn-default">@casaldebacontudo</a></p>
          </div>
          <div class="instagram-widget pure-hidden-md pure-hidden-lg pure-hidden-xl instagram-sm">
            <amp-iframe width="350" height="1400" sandbox="allow-scripts allow-same-origin" resizable layout="responsive" frameborder="0" src="https://snapwidget.com/embed/357534">
              <div overflow tabindex="0" role="button" aria-label="Read more">Leia Mais</div>
            </amp-iframe>
            <p class="instagram-follow"><a href="http://instagram.com/casaldebacontudo" target="_blank" class="btn btn-default">@casaldebacontudo</a></p>
          </div>
        </div>
        <!-- .footer-instagram -->
      </footer>
      <!-- #site-footer -->

      <!-- copyright -->
      <section id="copyright" class="copyright">
        <div class="container">
          <div class="pure-g">
            <div class="pure-u-1">
              Copyright &copy; 2016 <strong>De Bacon Tudo</strong>. All Right Reserved.
            </div>
            <!-- .col-sm-6 -->
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->
      </section>
      <!-- #copyright -->

    </div>
    <!-- #page -->
</main>

{{ partial "structure/foot" . }}
