{{ $Site := .Site }} {{ partial "structure/head" . }}

<body class="home blog">
  <div id="page" class="site">
    {{ partial "menu.html" . }}
    <!-- <a class="skip-link screen-reader-text" href="#content">Skip to content</a> -->

    <!-- <div class="text-center">
        {{ partial "slider.html" . }}
        
      </div> -->

    <!-- content -->
    <div id="content" class="site-content">
      <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
          {{ range first 1 .Data.Pages}} {{ partial "article-full.html" . }} {{ end }}
          <div class="home-container">
            <!-- article -->
            <div class="post-list">
              <!-- all posts -->
              <div class="container">
                {{ range (.Paginate ( where .Data.Pages ".Prev" "!=" nil)).Pages }} {{ partial "article-item.html" . }} {{ end }}
              </div>

              {{ partial "navigation/pagination" . }}
            </div>
            <!-- .col-md-8 -->

            <!-- sidebar -->
            <div class="sidebar-container">
              {{ partial "sidebar.html" . }}
            </div>
            <!-- .col-md-4 -->
          </div>
          <!-- .row -->
          <!-- .container -->

        </main>
        <!-- #main -->
      </div>
      <!-- #primary -->
    </div>
    <!-- #content -->
  </div>

  <!-- site-footer -->
  <footer id="colophon" class="site-footer" role="contentinfo">
    <!-- .footer-subscribe -->
  {{ partial "subscribe.html" . }} {{ partial "footer-instagram.html" . }}
  
  <!-- footer instagram -->
  
  <!-- .footer-instagram -->
  <!-- #site-footer -->
  
  <!-- copyright -->
  <section id="copyright" class="copyright">
    <div class="container">
      <div class="pure-g">
        <div class="pure-u-1">
          Copyright &copy; 2016
          <strong>De Bacon Tudo</strong>. All Right Reserved.
        </div>
        <!-- .col-sm-6 -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </section>
  <!-- #copyright -->
</footer>

</body>
<!-- #page -->

{{ partial "structure/foot" . }}