{{ if ne .Params.amp.enable false }}

<!DOCTYPE html>
<!--[if lt IE 8 ]><html {{ if isset $.Site.Params "amp" }}amp{{ end }} lang="en" class="no-js oldie"><![endif]-->
<!--[if IE 8 ]><html {{ if isset $.Site.Params "amp" }}amp{{ end }} lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html {{ if isset $.Site.Params "amp" }}amp{{ end }} lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html {{ if isset $.Site.Params "amp" }}amp{{ end }} lang="{{ with $.Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}" class="no-js"><!--<![endif]-->
<head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">

    {{ partial "amp/header" . }}

    <link rel="canonical" href="{{ .Permalink }}">

    <link rel="icon" href="/favicon.png" type="image/png" sizes="144x144">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    <meta name="theme-color" content="{{ $.Site.Params.themeColor }}" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500" rel="stylesheet">


    {{ partial "seo/main" . }}

</head>

<body>
  <amp-sidebar id="sidebar" layout="nodisplay">
      <ul class="list-group">
        <li class="list-group-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
        {{ range .Site.Menus.main }}
        <li class="list-group-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
  </amp-sidebar>
{{ if isset $.Site.Params "ampmanifest" }}
{{ with $.Site.Data.app.banner }}{{ partial "amp/app-banner" . }}{{ end }}
{{ end }}

{{ else }}
{{ partial "structure/head.no-amp" . }}
{{ end }}
