.post {
    @extend %fullwidth-feature;
}

.post-list {
    .container {
        @extend %flexcenter; // align-content: flex-start;
        padding: 0 15px;
        .post {
            @extend %flexcenter;
            * {
                text-align: left;
            }
            text-align: left;
            flex-basis: 100%;
            @media (min-width: 990px) {
                flex-basis: 50%;
            }
            .margin {
                border-bottom: 1px solid #e6e6e6;
                padding-bottom: 40px;
                margin: 0 15px 40px 15px;
            }
            .entry-cat {
                margin-top: 20px;
            }
            .entry-area {
                @extend %flexstart;
                background-color: transparent;
                padding: 0;
                .entry-title {
                    @extend %flexstart;
                    a {
                        text-align: left;
                        font-size: 18px;
                        color: #111111;
                        line-height: 22px;
                        letter-spacing: 1px;
                        text-decoration: none;
                        display: block;
                        text-transform: uppercase;
                        min-height: 68px;
                        height: 68px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            .entry-content {
                text-decoration: none;
                p {
                    font-size: 13px;
                    color: #111111;
                    line-height: 22px;
                    margin-bottom: 20px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 88px;
                }
            }
        }
    }
    .navigation {
        flex-basis: 100%;
    }
}

.post-sidebar {
    @extend %flexstart;
    margin-top: 10px;
    @extend %lineborder;
    padding-bottom: 10px;
    .image {
        flex-basis: 40%;
    }
    .title {
        flex-basis: 60%;
        h4,
        small,
        div {
            margin: 0 0 0 10px;
        }
        h4,
        div {
            margin-bottom: 10px;
            max-height: 60px;
            font-weight: 400;
            text-align: left;
        }
        a {
            @extend %overflow-text;
            @extend %basicTitle;
            text-transform: capitalize;
            font-size: 15px;
        }
    }
}

.entry-cat {
    @extend %flexstart;
    flex-direction: row;
    .cat-link {
        &:first-child {
            a {
                margin-left: 0px;
            }
        }
        a {
            font-size: 13px;
            color: #111111;
            line-height: 18px;
            letter-spacing: 0.5px;
            display: inline-block;
            margin: 0 3px 10px 8px;
            text-decoration: none;
            text-transform: capitalize
        }
    }
}

.nav-links {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    .nav-previous,
    .nav-next {
        a {
            @extend %basicTitle;
        }
    }
    .nav-next {
        align-self: flex-end;
    }
    .fa {
        margin: 0 5px;
    }
}