<!-- topbar featured slider -->
<div class="topbar-slider">
    <amp-carousel id="slider-thumbnail" class="owl-carousel owl-theme slider-thumbnail" height="450" controls type="carousel">
        <div class="item">
            <amp-img src="/img/banner/viagem.jpeg" width="350" height="450" layout="fixed" alt="an image"></amp-img>
            <div class="item-caption">
                <div class="caption-description">
                    <a href="categories/viagem" class="caption-cat-links">Viagens</a>
                    <span class="caption-title"></span>
                    <!-- .caption-title -->
                </div>
                <!-- .caption-description -->
            </div>
            <!-- .item-caption -->
        </div>
        <!-- .item -->
        <div class="item">
            <amp-img src="/img/banner/comida.jpeg" width="350" height="450" layout="fixed" alt="an image"></amp-img>
            <div class="item-caption">
                <div class="caption-description">
                    <a href="categories/comida" class="caption-cat-links">Comida</a>
                    <span class="caption-title">
      </span>
                    <!-- .caption-title -->
                </div>
                <!-- .caption-description -->
            </div>
            <!-- .item-caption -->
        </div>
        <!-- .item -->
        <div class="item">
            <amp-img src="/img/banner/estilo-de-vida.jpeg" width="350" height="450" layout="fixed" alt="an image"></amp-img>
            <div class="item-caption">
                <div class="caption-description">
                    <a href="categories/estilo-de-vida" class="caption-cat-links">Estilo de Vida</a>
                    <span class="caption-title"></span>
                    <!-- .caption-title -->
                </div>
                <!-- .caption-description -->
            </div>
            <!-- .item-caption -->
        </div>
        <!-- .item -->
        <div class="item">
            <amp-img src="/img/banner/pop-culture.jpeg" width="350" height="450" layout="fixed" alt="an image"></amp-img>
            <div class="item-caption">
                <div class="caption-description">
                    <a href="categories/pop-culture" class="caption-cat-links">Pop Culture</a>
                    <span class="caption-title"></span>
                    <!-- .caption-title -->
                </div>
                <!-- .caption-description -->
            </div>
            <!-- .item-caption -->
        </div>
        <!-- .item -->
        <div class="item">
            <amp-img src="/img/banner/viagem.jpeg" width="350" height="450" layout="fixed" alt="an image"></amp-img>
            <div class="item-caption">
                <div class="caption-description">
                    <a href="categories/viagem" class="caption-cat-links">Viagens</a>
                    <span class="caption-title"></span>
                    <!-- .caption-title -->
                </div>
                <!-- .caption-description -->
            </div>
            <!-- .item-caption -->
        </div>
        <!-- .item -->
        <div class="item">
            <amp-img src="/img/banner/comida.jpeg" width="350" height="450" layout="fixed" alt="an image"></amp-img>
            <div class="item-caption">
                <div class="caption-description">
                    <a href="categories/comida" class="caption-cat-links">Comida</a>
                    <span class="caption-title">
      </span>
                    <!-- .caption-title -->
                </div>
                <!-- .caption-description -->
            </div>
            <!-- .item-caption -->
        </div>
        <!-- .item -->
        <div class="item">
            <amp-img src="/img/banner/estilo-de-vida.jpeg" width="350" height="450" layout="fixed" alt="an image"></amp-img>
            <div class="item-caption">
                <div class="caption-description">
                    <a href="categories/estilo-de-vida" class="caption-cat-links">Estilo de Vida</a>
                    <span class="caption-title"></span>
                    <!-- .caption-title -->
                </div>
                <!-- .caption-description -->
            </div>
            <!-- .item-caption -->
        </div>
        <!-- .item -->
        <div class="item">
            <amp-img src="/img/banner/pop-culture.jpeg" width="350" height="450" layout="fixed" alt="an image"></amp-img>
            <div class="item-caption">
                <div class="caption-description">
                    <a href="categories/pop-culture" class="caption-cat-links">Pop Culture</a>
                    <span class="caption-title"></span>
                    <!-- .caption-title -->
                </div>
                <!-- .caption-description -->
            </div>
            <!-- .item-caption -->
        </div>
        <!-- .item -->
    </amp-carousel>
    <!-- #slider-thumbnail -->
</div>
<!-- .topbar-slider -->
