  <hr>
  <div class="pure-u-1 text-center">
    <p>
      Está gostando e quer continuar por dentro? Curta a nossa página!
    </p>
    <div class="facebook-like text-center">
      <amp-iframe height="70" width="340" sandbox="allow-scripts allow-same-origin" layout="fixed" frameborder="0" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdebacontudo%2F&tabs&width=340&height=70&small_header=true&adapt_container_width=false&hide_cover=true&show_facepile=false&appId=991562090894608">
      </amp-iframe>
    </div>
    <!-- .form-inline -->
    <!-- .col-## -->
  </div>
  <!-- .container -->
