<p>
    <div class="img-short">
        <!-- get metadata from 1st two params 0=galleryname, 1=caption -->
        {{ $meta := first 2 .Params }}
        <!-- everything after 1st two params is an image -->
        {{ $images := after 2 .Params }} {{ $number := 0 }}
        <amp-carousel id="selected-slide" class="owl-carousel owl-theme slider-thumbnail" height="{{index $meta 1}}" [[slide]="selectedSlide"
            on="slideChange:AMP.setState({selectedSlide: event.index}" width="{{index $meta 0}}" layout="responsive" type="slides">
            {{range $images}}
            <amp-img src="{{.}}" width="{{index $meta 0}}" height="{{index $meta 1}}" layout="responsive" alt="a sample image"></amp-img>

            {{ end }}

        </amp-carousel>
        <amp-carousel class="carousel-preview" height="65" layout="fixed-height" type="carousel">
            {{range $index, $pic := $images}}
            <amp-img src="{{.}}" width="100" height="75"  on="tap:selected-slide.goToSlide(index={{ $index }})" role="button"></amp-img>
            {{ end }}
        </amp-carousel>
    </div>
    <!-- #slider-thumbnail -->
</p>