<div class="img-short">
<div class="pure-g">
  <div class="pure-u-1-2" >
    <amp-img on="tap:lightbox-post"
    role="button"
    tabindex="0" src="{{ .Get "src" }}" alt="{{ .Get "alt" }}" height="{{ .Get "height" }}" width="{{ .Get "width" }}" layout="responsive" ></amp-img>

  </div>
  <div class="pure-u-1-2" >

    <amp-img on="tap:lightbox-post"
    role="button"
    tabindex="0" src="{{ .Get "src2" }}" alt="{{ .Get "alt" }}" height="{{ .Get "height" }}" width="{{ .Get "width" }}" layout="responsive" ></amp-img>
  </div>

</div>

</div>
<amp-image-lightbox id="lightbox-post" layout="nodisplay"></amp-image-lightbox>
