<div class="pure-g place-widget text-center">
    <div class="pure-u-1 u-place">
      <span class="entry-place">
        <i class="fa fa-calendar"></i>
          {{ .Get "work-time" }}</span>
      <span class="entry-place">
      <i class="fa fa-money"></i>
        {{ .Get "price" }}</span>
      <span class="entry-place">
        <i class="fa fa-clock-o"></i>
        {{ .Get "visit-time" }}</span>
        {{if .Get "link"}}
        <a class="" href="{{ .Get "link" }}" target="_blank">
          <i class="fa fa-external-link"></i>
          Site</a>
          {{end}}
      </div>
</div>
