  <div class="pure-g subscribe">
    <div class="pure-u-xl-4-24 pure-u-md-6-24 pure-u-sm-4-24 ">

    </div>
    <div class="pure-u-xl-16-24  pure-u-md-12-24 pure-u-1 pure-u-1 text-center">
      <p><b>
        Está gostando e quer continuar por dentro? Inscreva-se!
      </b>
    </p>
      <form class="pure-form" action-xhr="//debacontudo.us15.list-manage.com/subscribe/post?u=b8837e3b70f25c1a6c0fa05e7&amp;id=c9ca835a56" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_top" novalidate>
        <input type="email" placeholder="Email" value="" name="EMAIL" class="required email pure-input-1-3" >
        <button type="submit"  name="subscribe" >Enviar</button>
        <div submit-success>
          <template type="amp-mustache">
            Obrigado por se inscrever. Você vai receber um e-mail em breve
          </template>
        </div>
        <div submit-error>
          <template type="amp-mustache">
            Obrigado por se inscrever. Você vai receber um e-mail em breve
          </template>
        </div>
      </form>
      <!-- .form-inline -->
    </div>
    <!-- .col-## -->
  </div>
  <!-- .container -->
