  <div class="pure-g subscribe ">
    <div class="pure-u-1 pure-u-1 subscribe-inline text-center">
      <form class="pure-form" action-xhr="//debacontudo.us15.list-manage.com/subscribe/post?u=b8837e3b70f25c1a6c0fa05e7&amp;id=c9ca835a56" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
<fieldset>
  <input type="email" placeholder="Informe seu e-mail e receba novidades" value="" name="EMAIL" class=" pure-input-2-3 required email" >
  <button type="submit"  name="subscribe" >OK</button>
</fieldset>
        <div submit-success>
          <template type="amp-mustache">
            Obrigado por se inscrever. Você vai receber um e-mail em breve
          </template>
        </div>
        <div submit-error>
          <template type="amp-mustache">
            Obrigado por se inscrever. Você vai receber um e-mail em breve
          </template>
        </div>
      </form>
      <!-- .form-inline -->
    </div>
    <!-- .col-## -->
  </div>
  <!-- .container -->
  <!-- Begin MailChimp Signup Form -->

  <!-- Begin MailChimp Signup Form -->
