%mainfont {
    font-family: 'Montserrat', sans-serif;
}
%basicTitle {
    font-family: 'Montserrat', sans-serif;
    color: $colorDark;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration: none;
}
.text-center{
    text-align: center;
}

%lineborder {
            border-bottom: 1px solid #e6e6e6;

}


%overflow-text{
    text-overflow: ellipsis;
    overflow: hidden;
}

// @mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white) {
//     overflow: hidden;
//     position: relative;
//     line-height: $lineHeight;
//     max-height: $lineHeight * $lineCount;
//     margin-right: -1em;
//     padding-right: 1em;
//     &:before {
//         content: '...';
//         position: absolute;
//         right: 0;
//         bottom: 0;
//     }
//     &:after {
//         content: '';
//         position: absolute;
//         right: 0;
//         width: 1em;
//         height: 1em;
//         margin-top: 0.2em;
//         background: $bgColor;
//     }
// }