<div class="site-sidebar">
<div class="widget-area">
  {{ partial "subscribe-small.html" . }}

    {{ partial "about.html" . }}
    <section class="widget widget_facebook">
      <amp-iframe width="279" height="214" sandbox="allow-scripts allow-same-origin" resizable layout="responsive" frameborder="0" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdebacontudo%2F&tabs&width=279&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=991562090894608">
        <div overflow tabindex="0" role="button" aria-label="Read more">Leia Mais</div>
      </amp-iframe>
    </section>

    <section class="widget astrif_widget_popular_entries">
      <h2 class="widget-title"><span>Postagens Populares</span></h2>
      <ul>

  {{ $url := "/csv/most-visited.csv" }}
  {{ $sep := "," }}
  {{ $Pages := .Data.Pages  }}
  {{ $r := getCSV $sep $url}}
  {{ range first 7 $r }}
  {{ $link := index . 0 }}
  {{ range where $Pages "RelPermalink" $link  }}
    <li>
      <div class="popular-entry-thumbnail">
        <amp-img src="{{ .Params.thumbnail}}" alt="{{ .Title }}" layout="responsive" width="800" height="800"></amp-img>
      </div>
      <span class="popular-entry-title">
        <a href="{{ .Permalink }}" rel="bookmark" class="popular-entry-title-link">{{ .Title | truncate 45}}</a>
        <span class="popular-entry-date"><time class="entry-date" datetime="2016-09-07">{{ .Date.Format "2" }} {{ .Date.Format "Jan" }}, {{ .Date.Format "2006" }}</time></span>
      </span>
    </li>
    {{ end }}
  {{ end }}
                      </ul>
                    </section>
    {{ if not .IsHome }}
    <section class="widget widget_recent_entries">
        <h2 class="widget-title"><span>Posts Recentes</span></h2>
        <ul>
            {{ range first 5 .Data.Pages }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                <span class="post-date">{{ .Date.Format "2" }} {{ .Date.Format "Jan" }}, {{ .Date.Format "2006" }}</span>
            </li>
            {{ end }}
        </ul>
    </section>
    <!-- .widget_recent_entries -->
    {{ end }}
    <section class="widget widget_tag_cloud">
        <h2 class="widget-title"><span>Tags</span></h2>

        <div class="tagcloud">
            <ul id="all-tags">
                {{ range first 10 .Site.Taxonomies.tags.ByCount }}
                <a href="{{ "/tags/" | relLangURL }}{{ .Name | urlize }}">{{ .Name }} <span>{{ .Count }}</span></a> {{ end }}
            </ul>

        </div>
    </section>
    <!-- .widget_tag_cloud -->
  </div>
</div>
<!-- .site-sidebar -->
