<span class="share-links">
  <span>Compartilhe</span>
  <a onClick="return popupShare(this.href);" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" class="icon-facebook"><i class="fa fa-facebook"></i> Facebook</a>
  <a onClick="return popupShare(this.href);" href="http://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}" target="_blank" class="icon-twitter"><i class="fa fa-twitter"></i> Twitter</a>
  <a onClick="return popupShare(this.href);" href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" class="icon-google-plus"><i class="fa fa-google-plus"></i> Google+</a>
  <a href="" class="icon-pinterest"><i class="fa fa-pinterest"></i> Pinterest</a>
  <a onClick="return popupShare(this.href);" href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&summary={{ .Summary }}}&source={{ .Site.Title }}" target="_blank" class="icon-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
</span><!-- .share-links -->
