<div class="footer-subscribe">
  <div class="pure-g">
    <div class="pure-u-md-6-24 pure-u-sm-4-24 ">

    </div>
    <div class="pure-u-md-12-24 pure-u-sm-16-24">
      <h3 class="subscribe-title">Novidades</h3>
      <p>Informe seu e-mail e saiba de todas as nossa novidades</p>
      <form class="pure-form" action-xhr="//debacontudo.us15.list-manage.com/subscribe/post?u=b8837e3b70f25c1a6c0fa05e7&amp;id=c9ca835a56" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_top" novalidate>
        <input type="email" placeholder="Email" value="" name="EMAIL" class="required email">
        <input type="submit" value="Enviar" name="subscribe" class="button pure-button">
        <div submit-success>
          <template type="amp-mustache">
            Sucesso! Obrigado por se inscrever, aguarde nossas novidades
          </template>
        </div>
        <div submit-error>
          <template type="amp-mustache">
            Error!
          </template>
        </div>
      </form>
      <!-- .form-inline -->
    </div>
    <!-- .col-## -->
  </div>
  <!-- .container -->
</div>
